<app-layout>
	<router-outlet></router-outlet>
</app-layout>

<p-sidebar styleClass="w-full md:w-6" position="right" [blockScroll]="true">
	<ng-template pTemplate="header">
		<div class="flex align-items-center gap-2">
			<div class="flex align-items-center gap-3">
				<i class="pi pi-shopping-cart text-3xl text-primary-500"></i>

				<span class="text-900 text-xl font-medium"> Cart </span>
			</div>
		</div>
	</ng-template>
</p-sidebar>

<p-sidebar
	class="app-root-sidebar-wishlist flex flex-row"
	[showCloseIcon]="false"
	styleClass="w-full md:w-3"
	position="right"
	[blockScroll]="true">
</p-sidebar>
